* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border;
}

body {
  background: rgb(49, 49, 49);
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  font-size: 0.9rem;
  color: white;
}

:root {
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

/* Container */
.container {
  width: 76%;
  margin-inline: auto;
  max-width: 1920px;
}

section {
  padding: 10rem 0;
  background: black;
  transition: all 500ms ease;
}

section > h2 {
  text-align: center;
}

section > p {
  text-align: center;
  margin: 0.5rem auto 4rem;
  width: 40%;
}

a {
  color: white;
  transition: all 500ms ease;
}


h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  color: white;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 0.95rem;
}

h6 {
  font-size: 0.8rem;
}

/* Images */
img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Button */
.btn {
  display: inline-block;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: grey;
  color: white;
  padding: 0.6rem 2.5rem;
  border: 2px solid transparent;
  border-radius: 0.8rem;
  cursor: pointer;
}

.btn:hover {
  background-color: transparent;
  border-color: white;
}

.btn.secondary {
  display: inline-block;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1rem;
  background: grey;
  color: white;
  padding: 0.6rem 2.5rem;
  border: 2px solid transparent;
  border-radius: 0.8rem;
  cursor: pointer;
}

.btn.secondary:hover {
  background-color: transparent;
  border-color: white;
  transform: translateY(-0.5rem);
}

.btn.white {
  background: white;
  color: black;
}

.btn.white:hover {
  background: transparent;
  border-color: white;
  color: white;
  
}

.btn.primary {
  background: white;
  color: black;
}

.btn.primary:hover {
  background: transparent;
  border-color: white;
  color: white;
  transform: translateY(-0.5rem);
}

.btn.sm {
  padding: 0.5rem 1.2rem;
}

/* Media Ipads*/
@media screen and (max-width: 1024px) {
  body {
    font-size: 1rem;
  }

  .container {
    width: var(--container-width-md);
  }

  section {
    padding: 8rem 0;
  }

  section > p {
    width: 72%;
    margin-bottom: 3rem;
  }

  h1 {
    font-size: 2rem;
  }
}

/* Media Phones */
@media screen and (max-with: 600px) {
  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4 {
    font-size: 1rem;
  }

  .btn {
    padding: 0.6rem 1.5rem;
  }

  section > p {
    width: var(--container-width-md);
  }
}